
@import url(http://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}


.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #00BFA5;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
margin-bottom: 20px;
color: #fff;
text-align: center;
cursor:pointer;
background-color:#00BFA5;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}
/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #00BFA5;
    color: #fff;
    padding: 10px;
    text-align: left;

}


/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar-brand {
    width: 250px;
    padding-top: 30px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #00BFA5;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #C36464!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #3D3D3D;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #00AA8D;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #00BFA5!important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #00BFA5!important;
}

.navbar-inverse {
    background-color: #C36464;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #00BFA5;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #C36464;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */

.notice-board {
  padding: 0px 15px 0px 15px;
}

.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 0px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

#full {
    min-height: 100%;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
}
html, body{
    height: 100%;
    width: 100%;
    margin-right: 15px; 
}
#footer {
    height:50px;
    line-height: 50px;
    background:#333;
    color:#fff;
    bottom:0px;
    width:100%; 
    position: absolute;
}

.w-title h2 {
    width: 220px;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
    text-align: center;
}

.chartadmin{
    background-color: #CCFF90;
    border: 1px solid gray;
}

.chartwishlist{
    background-color: #FFE0B2;
    border: 1px solid gray;
}
.chartbarang{
    background-color: #E1F5FE;
    border: 1px solid gray;
}
.chartbarang1{
    background-color: #FFCDD2;
    border: 1px solid gray;
}

.img-rounder{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid gray; 
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
 
/* Float the list items side by side */
ul.topnav li {float: left;}
 
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}
 
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}
 
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
 
/* Saat lebar layar kurang dari 680 pixel, sembunyikan semua menu item kecuali item 
yang pertama yaitu("Home"). Tampilkan juga list item yang berisi link untuk membuka 
menu yaitu (li.icon) 
*/
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
  
/* Class dengan nama "responsive" akan ditambahkan oleh JavaScript saat user mengklik icon. 
   Munculnya Class ini akan mendisplay isi list menu
*/
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}